## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

DSFPT-12/Group 15
1.Diana Aloo
2.Sylvia Wambui
3.Catherine Kaino
4.Vincent Buluma
Scheduled project review date/time: Sunday 14th September 2025
Instructor name: Christine Kirimi
Blog post URL:

# Title and Business Understanding

# Business Problem
Apex Motion Media sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they don’t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of your company's new movie studio can use to help decide what type of films to create.
 
As data scientists our task is to explore existing movie data to answer objectives such as:
1.	Identify Top-Performing Genres
Determine which genres (e.g., action, comedy, horror) consistently generate strong box office revenues to guide the studio’s production focus.
2.	Identify which genres are consistently profitable vs. risky
3.	Leverage Audience Ratings & Reviews
4.	Evaluate Release Strategies Explore how timing (holidays, seasons, competition) and distribution choices influence performance, so the studio can plan optimal release windows.

The goal of this project is to translate the findings into clear actionable recommendations for the company.

# Data Understanding

We will answer above objectives using the following datasets;
1.Box Office MojoLinks.
2.IMDBLinks
3.Rotten TomatoesLinks.
4.TheMovieDBLinks.
5.The NumbersLinks.

The first step will be to;
1.Load the datasets 
2.Inspect the structure (head, shape,column names and data types).
3.Note any cleaning challenges(title formats,missing values and duplicates)

In [3]:
#import necessay libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import zipfile
import seaborn as sns
%matplotlib inline
import os
import warnings

In [23]:
# Read the data
# Box Office Mojo 
bom_movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
bom_movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [24]:
import zipfile

with zipfile.ZipFile("zippedData/im.db.zip", "r") as z:
    z.extractall("zippedData/")  # this will create 'zippedData/im.db'

In [25]:

conn = sqlite3.connect("zippedData/im.db")
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

In [26]:
movie_basics = pd.read_sql("SELECT * FROM movie_basics;", conn)

directors = pd.read_sql("SELECT * FROM directors;", conn)
known_for = pd.read_sql("SELECT * FROM known_for;", conn)
movie_akas = pd.read_sql("SELECT * FROM movie_akas;", conn)
movie_ratings = pd.read_sql("SELECT * FROM movie_ratings;", conn)
persons = pd.read_sql("SELECT * FROM persons;", conn)
principals = pd.read_sql("SELECT * FROM principals;", conn)
writers = pd.read_sql("SELECT * FROM writers;", conn)

In [27]:
movie_basics

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary